body {
    background: mintcream;
    font-family: monospace;
    font-size: 16px;
    line-height: 1.5;
}
header {
    display: flex;
    align-items: center;
    width: 1315px;
    height: 60px;
    border-bottom-style: inset;
    border-bottom-color: #818181;
    border-bottom-width: thin;
    margin-bottom: 20px;
}
.title {
    position: absolute;
    left: 10px;
}
.sign-in {
    position: absolute;
    right: 30px;
    cursor: pointer;
}
.sign-in:hover {
    color: #676767;
}
.grid-container {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(5, 200px);
    grid-template-rows: repeat(2, 300px);
    gap: 15px;
}
.grid-item {
    display: flex;
    justify-content: center;
    align-items: inherit;
    overflow: hidden;
    border-radius: 15px;
    flex-direction: column;
    height: 100%;
    width: 100%;
    transition: transform 0.3s ease-in-out;
}
.grid-item img {
    margin-bottom: auto;
    width: 80%;
    height: 80%;
    padding: 5px;
}
.grid-item:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.addBookButton {
    opacity: 0;
    position: absolute;
    width: 100px;
    height: 40px;
    background: #00ce00;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    transition: opacity 0.3s ease-in-out, transform 0.05s ease-in-out;
}
.grid-item:hover > .addBookButton {
    opacity: 1;
}
.addBookButton:active {
    transform: scale(0.95);
}
.book-price {
    position: absolute;
    height: 120px;
    color: azure;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
.grid-item:hover > .book-price {
    opacity: 1;
}
.book-list-container {
    display: grid;
    grid-template-columns: repeat(5, 190px);
    grid-template-rows: repeat(2, 40px);
    justify-content: left;
    align-items: center;
    gap: 10px;
}
.list-item {
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.list-item:hover {
    color: #4b4b4b;
}
.list-item p {
    font-size: 20px;
}
.buy-button {
    background: #00cc00;
    width: 120px;
    height: 50px;
    border: none;
    border-radius: 15px;
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    cursor: pointer;
    transition: transform 0.1s ease-in-out;
}
.buy-button:hover {
    background: #00af00;
}
.buy-button:active {
    transform: scale(0.95);
}