<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Summer Bookstore</title>
    <link type="text/css" id="dark-mode" rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Summer Bookstore</h1>

    <div class="grid-container">
        <form class="grid-item" th:each="book, iter : ${books}" th:action="@{/book/{bookId}(bookId=${book.getId()})}" th:method="post">
            <img th:if="${coverUrls}" th:src="@{${coverUrls[__${iter.index}__]}}" alt="Book Cover">
            <p th:text="${book.getName()}">Book Title</p>
            <p th:text="${book.getPrice()}" class="book-price">Book Price</p>

            <button type="submit" class="add-btn" onclick="this.closest('form').submit();">Add Book</button>
        </form>
    </div>

    <h2 class="book-container-header">Your Books:</h2>
    <div class="book-container">
        <form class="list-item" th:if="${selectedBooks}" th:each="selectedBook : ${selectedBooks}" th:action="@{/book/delete/{bookId}(bookId=${selectedBook.getId()})}" th:method="post">
            <p th:text="${selectedBook.getName()}" onclick="this.closest('form').submit();">Book name</p>
        </form>
    </div>
</body>
</html>